## Using SVM

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
data_to_model = pd.read_csv('./train.csv')
data_to_model

,WE_41B884,youssef,STUDBME2,CMP_LAB3,El-modarag,STUDBME1,CMP_LAB4,CMP_LAB2,ARC3,Sbme-Staff,CMP_LAB1,El-lab,Mo_Hamza,Farouk,RehabLab,Gamil,TP-Link_463C,redmi,ARC1,target
0,-65,-100,-56,-100,-100,-74,-100,-100,-100,-100,-100,-48,-70,-100,-100,-100,-100,-100,-100,12
1,-82,-77,-79,-100,-75,-66,-100,-83,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,8
2,-51,-100,-52,-100,-100,-46,-100,-100,-100,-100,-100,-70,-100,-100,-84,-87,-100,-100,-100,9
3,-57,-100,-59,-100,-100,-100,-47,-100,-100,-100,-45,-100,-100,-59,-100,-100,-100,-100,-100,11
4,-73,-80,-69,-100,-71,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,-72,-100,-57,-100,-100,-100,-100,-100,-100,-100,-100,-50,-70,-100,-100,-100,-100,-100,-100,12
494,-62,-100,-52,-45,-100,-59,-100,-100,-100,-100,-48,-100,-100,-64,-100,-100,-100,-100,-100,11
495,-47,-100,-44,-59,-100,-47,-57,-100,-100,-100,-60,-69,-100,-100,-100,-100,-100,-100,-100,9
496,-67,-100,-69,-100,-75,-60,-100,-100,-78,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,6
497,-65,-74,-54,-100,-65,-48,-100,-100,-100,-85,-100,-100,-100,-100,-100,-100,-100,-100,-100,7

In [3]:
# extract input and output
X = data_to_model.drop(["ARC1","TP-Link_463C","Gamil","CMP_LAB1",'Sbme-Staff','ARC3','CMP_LAB2','CMP_LAB4','STUDBME1','STUDBME2','CMP_LAB3',"target"], axis=1)
y = data_to_model["target"]


X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((398, 8), (100, 8), (398,), (100,))

In [4]:
X_test

     WE_41B884  youssef  El-modarag  El-lab  Mo_Hamza  Farouk  RehabLab  redmi
470        -54     -100        -100     -65      -100    -100      -100   -100
353        -73      -78         -69    -100      -100    -100      -100   -100
120        -68     -100        -100     -47      -100    -100      -100   -100
117        -59      -81         -68    -100      -100    -100      -100   -100
137        -56     -100        -100    -100       -74     -64      -100   -100
..         ...      ...         ...     ...       ...     ...       ...    ...
489        -71     -100        -100     -51       -74    -100      -100   -100
163        -66     -100        -100     -63       -75    -100      -100   -100
159        -59      -89         -70    -100      -100     -76      -100   -100
149        -66      -90         -64    -100      -100     -83      -100   -100
382        -66      -78         -67    -100      -100    -100      -100   -100

[100 rows x 8 columns]

In [5]:
classifier = SVC(C=100.0,
    kernel='rbf',
    degree=3)

#Train the model using the training sets
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

In [8]:
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.78

In [9]:
import pickle

filename = 'svm78.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [49]:
y = classifier.predict(df)
y

array([8], dtype=int64)

## Random forest classifier

In [10]:
# Random Forest Classification

from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.feature_selection import SelectKBest, mutual_info_classif, chi2, f_classif


data = pd.read_csv('./train.csv')

In [11]:
data_to_model = pd.read_csv('./train.csv')
data_to_model

,WE_41B884,youssef,STUDBME2,CMP_LAB3,El-modarag,STUDBME1,CMP_LAB4,CMP_LAB2,ARC3,Sbme-Staff,CMP_LAB1,El-lab,Mo_Hamza,Farouk,RehabLab,Gamil,TP-Link_463C,redmi,ARC1,target
0,-65,-100,-56,-100,-100,-74,-100,-100,-100,-100,-100,-48,-70,-100,-100,-100,-100,-100,-100,12
1,-82,-77,-79,-100,-75,-66,-100,-83,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,8
2,-51,-100,-52,-100,-100,-46,-100,-100,-100,-100,-100,-70,-100,-100,-84,-87,-100,-100,-100,9
3,-57,-100,-59,-100,-100,-100,-47,-100,-100,-100,-45,-100,-100,-59,-100,-100,-100,-100,-100,11
4,-73,-80,-69,-100,-71,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,-72,-100,-57,-100,-100,-100,-100,-100,-100,-100,-100,-50,-70,-100,-100,-100,-100,-100,-100,12
494,-62,-100,-52,-45,-100,-59,-100,-100,-100,-100,-48,-100,-100,-64,-100,-100,-100,-100,-100,11
495,-47,-100,-44,-59,-100,-47,-57,-100,-100,-100,-60,-69,-100,-100,-100,-100,-100,-100,-100,9
496,-67,-100,-69,-100,-75,-60,-100,-100,-78,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,6
497,-65,-74,-54,-100,-65,-48,-100,-100,-100,-85,-100,-100,-100,-100,-100,-100,-100,-100,-100,7

In [12]:
# extract input and output
X = data_to_model.drop(["ARC1","TP-Link_463C","Gamil","CMP_LAB1",'Sbme-Staff','ARC3','CMP_LAB2','CMP_LAB4','STUDBME1','STUDBME2','CMP_LAB3',"target"], axis=1)
y = data_to_model["target"]


X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((398, 8), (100, 8), (398,), (100,))

In [13]:
X_train

     WE_41B884  youssef  El-modarag  El-lab  Mo_Hamza  Farouk  RehabLab  redmi
448        -80      -71         -73    -100      -100    -100      -100   -100
31         -55     -100        -100    -100       -71     -56      -100   -100
362        -63      -73         -77    -100      -100    -100      -100   -100
21         -47     -100        -100     -69      -100     -75      -100   -100
287        -73      -80         -82    -100      -100    -100      -100   -100
..         ...      ...         ...     ...       ...     ...       ...    ...
371        -66     -100        -100     -53       -63    -100      -100   -100
344        -71     -100        -100     -52       -54    -100      -100   -100
447        -67      -89         -74    -100      -100     -80      -100   -100
50         -65     -100        -100     -67       -69     -81      -100   -100
278        -75      -77         -69    -100      -100    -100      -100   -100

[398 rows x 8 columns]

In [14]:

# Training the Random Forest Classification model on the Training set
classifier = RandomForestClassifier(
    n_estimators=100, criterion='gini')
classifier.fit(X_train, y_train)


y_pred = classifier.predict(X_test)


print(accuracy_score(y_test, y_pred))

0.87

## Save the model

In [85]:
import pickle

filename = 'RandomForest87.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [38]:
df = pd.DataFrame({"STUDBME1":0,"STUDBME2":[0],"CMP_LAB1":[0],"CMP_LAB2":[0],"CMP_LAB3":[0],"CMP_LAB4":[0]}, dtype=int)

# load the model from disk
loaded_model = pickle.load(open('./saved_models/randomForest_84all.sav', 'rb'))
result = loaded_model.predict(df)
print(str(result[0]))

10

## Using Logistic regression model

In [84]:
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle


# Fit the model on training set
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(accuracy_score(y_test, y_pred))

0.8229166666666666

E:\projects_VsCode\Python\Image_processing\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [54]:
import pickle
import numpy as np
import pandas as pd

df = pd.DataFrame({"STUDBME1":[1],"STUDBME2":[1],"CMP_LAB1":[5],"CMP_LAB2":[2],"CMP_LAB3":[10],"CMP_LAB4":15})

model = pickle.load(open('./randomForest86.sav', 'rb'))
estimation = model.predict(df)

E:\projects_VsCode\Python\Image_processing\lib\site-packages\sklearn\base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- Unnamed: 0

  warnings.warn(message, FutureWarning)

ValueError: X has 6 features, but RandomForestClassifier is expecting 7 features as input.

In [50]:
df.iloc[0]

STUDBME1     1
STUDBME2     1
CMP_LAB1     5
CMP_LAB2     2
CMP_LAB3    10
CMP_LAB4    15
Name: 0, dtype: int64

In [51]:
df.iloc[0] = [4,4,4,4,4,4]

In [52]:
df

   STUDBME1  STUDBME2  CMP_LAB1  CMP_LAB2  CMP_LAB3  CMP_LAB4
0         4         4         4         4         4         4

In [5]:
import pandas as pd
import pickle
#------- GLOBAL VARIABLE -----R---
estimation = '0'  # output of the ML model
counter = 0       # counter for the ith record


aggragate = pd.DataFrame({"STUDBME1":[0],"STUDBME2":[0],"CMP_LAB1":[0],"CMP_LAB2":[0],"CMP_LAB3":[0],"CMP_LAB4":[0]}, dtype=int)
input_to_model = pd.DataFrame({"STUDBME1":[0],"STUDBME2":[0],"CMP_LAB1":[0],"CMP_LAB2":[0],"CMP_LAB3":[0],"CMP_LAB4":[0]}, dtype=int)


model = pickle.load(open('saved_models/randomForest_84all.sav', 'rb'))

def receive(row):
    global estimation, input_to_model, counter, aggragate
    s1 = row[0]
    print("s1= ", s1)
    s2 = row[1]
    print("s2= ", s2)
    s3 = row[2]
    print("s3= ", s3)
    s4 = row[3]
    print("s4= ", s4)
    s5 = row[4]
    print("s5= ", s5)
    s6 = row[5]
    print("s6= ", s6)
    
    input_to_model.loc[-1] = [s1,s2,s3,s4,s5,s6]

    aggragate = aggragate.append(input_to_model.iloc[0])
    
    print(aggragate)
    counter += 1
    
    if counter == 6:
        estimate()
        aggragate = aggragate[0:0]
        counter = 0
        return "<h2> Model has updated the data </h2>"
        
    return "<h2> Data is stored </h2>"


def estimate():
    global input_to_model, aggragate, estimation
    # get mean of 5 readings
    print(aggragate.mean())
    input_to_model.loc[0] = (aggragate.mean()+0.5).astype(int)
    #print(input_to_model)
    estimation = model.predict(input_to_model)[0]

In [2]:
receive([1,2,3,4,5,6])
receive([1,2,3,4,5,6])
receive([1,2,3,4,5,6])
receive([1,2,3,4,5,6])

s1=  1
s2=  2
s3=  3
s4=  4
s5=  5
s6=  6
   STUDBME1  STUDBME2  CMP_LAB1  CMP_LAB2  CMP_LAB3  CMP_LAB4
0         0         0         0         0         0         0
0         1         2         3         4         5         6
s1=  1
s2=  2
s3=  3
s4=  4
s5=  5
s6=  6
   STUDBME1  STUDBME2  CMP_LAB1  CMP_LAB2  CMP_LAB3  CMP_LAB4
0         0         0         0         0         0         0
0         1         2         3         4         5         6
0         1         2         3         4         5         6
s1=  1
s2=  2
s3=  3
s4=  4
s5=  5
s6=  6
   STUDBME1  STUDBME2  CMP_LAB1  CMP_LAB2  CMP_LAB3  CMP_LAB4
0         0         0         0         0         0         0
0         1         2         3         4         5         6
0         1         2         3         4         5         6
0         1         2         3         4         5         6
s1=  1
s2=  2
s3=  3
s4=  4
s5=  5
s6=  6
   STUDBME1  STUDBME2  CMP_LAB1  CMP_LAB2  CMP_LAB3  CMP_LAB4
0         0         0         0         0         0         0
0         1         2         3         4         5         6
0         1         2         3         4         5         6
0         1         2         3         4         5         6
0         1         2         3         4         5         6

'<h2> Data is stored </h2>'

In [3]:
receive([1,2,3,4,5,6])

s1=  1
s2=  2
s3=  3
s4=  4
s5=  5
s6=  6
   STUDBME1  STUDBME2  CMP_LAB1  CMP_LAB2  CMP_LAB3  CMP_LAB4
0         0         0         0         0         0         0
0         1         2         3         4         5         6
0         1         2         3         4         5         6
0         1         2         3         4         5         6
0         1         2         3         4         5         6
0         1         2         3         4         5         6

'<h2> Data is stored </h2>'

In [26]:
receive([11,1,1,1,11,1])

s1=  11
s2=  1
s3=  1
s4=  1
s5=  11
s6=  1
   STUDBME1  STUDBME2  CMP_LAB1  CMP_LAB2  CMP_LAB3  CMP_LAB4
0         1         2         3         4         5         6
0         0         0         0         0         0         0
0        11         1         1         1        11         1
0        11         1         1         1        11         1
0        11         1         1         1        11         1
0        11         1         1         1        11         1
STUDBME1    7.500000
STUDBME2    1.000000
CMP_LAB1    1.166667
CMP_LAB2    1.333333
CMP_LAB3    8.166667
CMP_LAB4    1.666667
dtype: float64

'<h2> Model has updated the data </h2>'

In [27]:
input_to_model

   STUDBME1  STUDBME2  CMP_LAB1  CMP_LAB2  CMP_LAB3  CMP_LAB4
0         8         1         1         1         8         2

In [32]:
estimation = model.predict(input_to_model.astype(int))[0]
estimation

array([10], dtype=int64)